
body{
	font-family: 'Titillium Web', sans-serif;
	color:rgb(65, 68, 73);
	background: #fffefc;
	text-align:center;
}

a { color: inherit !important; 
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}


#box{
		
		width:800px;
		margin: 0 auto;
		/*
		position:relative;
		top:0px;

		width:70%;
		margin:40px auto;
		
		background-color: white;
	    -webkit-box-shadow: 10px 10px 23px -8px rgba(0,0,0,0.65);
		-moz-box-shadow: 10px 10px 23px -8px rgba(0,0,0,0.65);
		box-shadow: 10px 10px 23px -8px rgba(0,0,0,0.65);*/
}


#mollydave{
	font-family: 'Lato', sans-serif;
	padding-top: 40pt;
	padding-bottom: 25pt;
}

#mollydave > #molly,#dave{
	font-size: 25pt;
	letter-spacing: 6pt;
	font-weight: 700;
}

#mollydave > #and{
	font-size: 40pt;
	font-weight: 300;
	padding-right: 7pt;
	position: relative;
	top: 5pt;
}

div#banner{
	  width:600px;
	  height:400px;
	  margin: 0 auto;
	  overflow: hidden;
	  position: relative;
}


#navbar{
	padding-bottom: 3pt;
}
#navbar > span{
	font-family: 'Raleway', sans-serif;
	padding-left: 25pt;
	padding-right: 25pt;
}

#bannerspace{
	min-height: 25px;
}

#details{
	font-family: 'Lato', sans-serif;
	font-size: 10pt;
	letter-spacing: 2pt;
	font-weight: 700;
	padding-bottom: 10pt;
	
}
#details > span{
	display:block;
	height:16pt;
}

#countdown{
	font-size:14pt;
	text-align: center;
	width: 350pt;

	position: relative;
  	left:50%;
  	transform: translateX(-50%);
}


.number{
	border-color:black;
	padding:0pt;


}
#label{
	font-size: 8pt;
	margin-top: 2pt;
}

#block{
	display:inline-block;
	min-width: 25pt;
	padding: 10px;
	text-align:center;
	line-height: 1;
}

a#scrabbletwist{
	
	  position:absolute; 
	  width:100%;
	  height:100%;
	  top:0;
	  left: 0;
	  z-index: 1;
  
}

img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  transition: opacity 1s ease-in-out;
  border-style: solid;
  border-width: 5px;
}

img + img {
	opacity: 0;
}
